<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header class="ion-margin-horizontal">
      <ion-avatar style="margin: auto">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/02427f72-49cb-498f-be93-655f0b85bc9f/d9ljiy1-065c6430-9c83-4b6b-a84a-cb8333b91368.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMDI0MjdmNzItNDljYi00OThmLWJlOTMtNjU1ZjBiODViYzlmXC9kOWxqaXkxLTA2NWM2NDMwLTljODMtNGI2Yi1hODRhLWNiODMzM2I5MTM2OC5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.MGqdpZg4PvRVkn_Aiv_aTk3vRRyhEoh8HvxcKo1hNQw">
      </ion-avatar>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title align="center">Belinda Permata P.</ion-card-title>
      <ion-card-subtitle align="center">00000023490 - BL</ion-card-subtitle>
    </ion-card-content>
    <ion-item>
      <ion-label position="stacked">Partner in Crime:</ion-label>
      <ion-input disabled="true" style="color: #6a59be">Michael Frans M. T. S.</ion-input>
    </ion-item>
    <ion-card-subtitle class="ion-padding">
      Moral support, partner diskusi dikala emergency meskipun kinda sus. <br>
      Hampir menyerupai agan" stackoverflow, 11//10 would order again.
    </ion-card-subtitle>
    <ion-item>
      <ion-label position="stacked">Library luar:</ion-label>
      <ion-input disabled="true" style="color: #6a59be">-</ion-input>
    </ion-item>
  </ion-card>
</ion-content>
